<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WILLIAM SHAKESPEARE</key>
	<dict/>
	<key>GAME OF THRONES</key>
	<dict/>
	<key>HARRY POTTER</key>
	<dict/>
</dict>
</plist>
